@import "general.scss";

@font-face {
    font-family: 'Natalia';
    src: url('fonts/natalia_colleen.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$primary-color: #F3E9F1;
$secondary-color: #F2BEE7;

html {
    height: 100%;
}

body {
    font-family: 'Natalia', 'Lucida Sans', sans-serif;
    min-height: 100%;
}

h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

// Header
header {
    height: 75px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    img {
        width: 150px;
        height: 75px;
    }

    a {
        vertical-align: middle;
        line-height: 75px;
        margin-right: 10px;
    }

    a:hover {
        border-bottom: 1px solid black;
    }
}

// List articles
#articles {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    article {
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 325px;
        width: 250px;
        background-color: $primary-color;
        position: relative;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $secondary-color;

        img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
        }

        a {
            background-color: $secondary-color;
            padding: 5px;
            border-radius: 7px;
        }

        & a:hover {
            background-color: darken($color: $secondary-color, $amount: 10);
        }
    }
}

// Selected product
#products {
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
        background-color: $primary-color;
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 580px;
        width: 280px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $secondary-color;
        margin-top: 75px;

        img {
            height: 250px;
            width: 250px;
            border-radius: 10px;
        }

        p{
            text-align: center;
        }

        select {
            background-color: $secondary-color;
            border-radius: 7px;
        }

        a {
            background-color: $secondary-color;
            padding: 5px;
            border-radius: 7px;
        }

        & a:hover {
            background-color: darken($color: $secondary-color, $amount: 10);
            cursor: pointer;
        }
    }
}

// Cart
#bloc-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    p {
        text-align: center;
    }
}

#cart {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    article {
        margin: 20px;
        padding: 20px 5px 20px 5px;
        background-color: $primary-color;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $secondary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        width: 270px;
        box-sizing: content-box;

        img {
            width: 75px;
            height: 100px;
            border-radius: 10px;
        }

        div {
            margin-right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        }
        
        p, h2{
            text-align: center;
        }
    }
}

#infosArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;

    a {
        width: 125px;
        background-color: $secondary-color;
        padding: 5px;
        border-radius: 7px;
    }

    & a:hover {
        background-color: darken($color: $secondary-color, $amount: 10);
        cursor: pointer;
    }
}

#prixTotalCommande {
    background-color: $primary-color;
    width: 280px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px $secondary-color;
    margin-bottom: 20px;
    font-weight: bold;

}

#commande {
    background-color: $primary-color;
    box-shadow: 2px 2px 10px $secondary-color;
    margin: 20px;
    padding: 10px;  
    margin-top : -30px;
    border-radius: 10px;
    width: 280px;
    visibility: hidden;

    p {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    & p:first-child {
        justify-content: center;
        font-weight: bold;
    }

    & p:last-child {
        justify-content: center;
        margin-bottom: 10px;

        input {
            border-radius: 6px;
            background-color: $secondary-color;
        }
    }
}

// Order confirmation
#bloc-confCommande {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    #confCommande {
        background-color: $primary-color;
        width: 280px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $secondary-color;
    }

    article {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
    }

    a {
        background-color: $secondary-color;
        padding: 5px;
        border-radius: 7px;
    }

    & a:hover {
        background-color: darken($color: $secondary-color, $amount: 10);
        cursor: pointer;
    }
}

// Legal Notice
#mentions {
    text-align: justify;
    margin: 20px;

    a{
        color: blue;
        text-decoration: underline;
    }

    p {
        font-weight: bold;
    }

    h1 {
        font-size: 2rem;
        padding: 20px;
    }
}

// Footer
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
    a {
        vertical-align: middle;
        line-height: 30px;
    }

    a:hover {
        text-decoration: underline;
    }
}

// Medium devices (tablets, 576px and up)
@media screen and (min-width: 576px) {

    header {
        justify-content: space-around;
        font-size: 1.5rem;
    }

    // Index
    #articles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        article {
            margin: 20px;
        }
    }

    // Page of product
    #products {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    // cart
    #cart{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #commande {
        width: 500px;

        p {
            justify-content: center;

            label {
                width: 30%;
            }

            input {
                width: 60%;
            }
        }
    }

    // Footer
    footer {
        font-size: 1.2rem;
    }
}